<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="estilo.css">
</head>

<body>


    <nav>navegacaco</nav>

    <div>

        <section id="sect1">



            <img class="perfil" src="imagem.jpg" alt="">
            <br>
            <button>alterar imagem</button>
        </section>
        <section id="sect2">

            <label for="">agua</label> <input type="text"> <br>
            <label for="">agua</label> <input type="text"> <br>
            <label for="">agua</label> <input type="text"> <br>
            <label for="">agua</label> <input type="text"> <br>
            <label for="">agua</label> <input type="text"> <br>
            <label for="">agua</label> <input type="text"> <br>
            <label for="">agua</label> <input type="text"> <br>
            <label for="">agua</label> <input type="text"> <br>
            <label for="">agua</label> <input type="text"> <br>
            <label for="">agua</label> <input type="text"> <br>





        </section>



    </div>

    <footer>footer</footer>
</body>

</html>