table, td, th {
    border: #ddd solid 1px;
}

table {
    /* margin: auto; */
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

th {
    background-color: #4CAF50;
    height: 100px;
    text-align: center;
    color: white;
}

td {
    text-align: center;
    height: 40px;
}

div {
    width: 60%;
    /* background-color: blue; */
    padding: 10px;
    margin: 40px
}

tr:nth-child(even){
    background-color: #f2f2f2;
}